@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'poesia';
    src: url(fontes/BebasNeue-Regular.otf) format(opentype), url(fontes/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-titulo: 'Passion One', sans-serif;
    --fonte-poesia: 'poesia', sans-serif;
}

body {
    background-color: white;
}

header {
    background-color: black;
    text-align: center;
    min-height: 160px;
    padding: 30px;
}

header  h1 {
    color: white;
    font-family: var(--fonte-titulo);
    padding-top: 25px;
    font-size: 12em;
    font-variant: small-caps;
}

header nav {
    color: white;
    font-family: var(--fonte-padrao);
    padding-bottom: 20px;
}

nav  a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
}

section {
    padding-bottom: 20px;
}

section  p {
    font-family: var(--fonte-poesia);
    font-size: 4em;
    letter-spacing: 2px;  
    word-spacing: 6px;     
    padding: 50px 30px 50px 30px;
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
}

#back01 {
    background-image: url(imagens/background001.jpg);
    background-position: right top ;
    background-repeat: no-repeat;  
}

#back02 {
    background-image: url(imagens/background002.jpg);  
}

.quadrado {
    background-color: white;
    margin: -10px;
    padding: 10px 0px 20px 20px;
}

.transparente {
    max-width: 700px;
    background: rgba(0,0,0,.55);  /* transparente p/ ver a imagem atrás */
    color: white;
    margin: 40px 0px 40px 0px;
    border-radius: 0px 8px 8px 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    padding: 15px;
    margin: -15px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}