@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'poesia';
    src: url(fontes/BebasNeue-Regular.otf) format(opentype), url(fontes/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-titulo: 'Passion One', sans-serif;
    --fonte-poesia: 'poesia', sans-serif;
}

body {
    background-color: white;
}

header {
    background-color: black;
    text-align: center;
    min-height: 160px;
    padding: 30px;
}

header  h1 {
    color: white;
    font-family: var(--fonte-titulo);
    padding-top: 25px;
    font-size: 12em;
    font-variant: small-caps;
}

header nav {
    color: white;
    font-family: var(--fonte-padrao);
    padding-bottom: 20px;
}

nav  a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
}

main p {
    font-family: var(--fonte-poesia);
    padding: 60px ;
    font-size: 3em;
}

#container {
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: left top;
}

#conteudo {
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position: right bottom;
}

div.parte {
    display: block;
    background-color: white;
    height: 400px;
    width: 400px;
}

div.transp {
    display: block;
    background-color: rgba(0, 0, 0, 0.288);
    border: 2px solid rgba(0, 0, 0, 0.288);
    height: 400px;
    width: 400px; 
}